#svg_timeline {
}

#movie_1 {
  position: absolute;
}
#movie_2 {
  position: absolute;
}
#movie_3 {
  position: absolute;
}
svg {
  width: 100%;
}
.pic {
  width: 3vw;
  height: 5vw;
  border: solid 2px teal;
}
img {
  width: 100%;
}
h1 {
  font-size: 10px;
}
p {
  font-size: 10px;
}

.cls-1,
.cls-3,
.cls-4 {
  fill: none;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-1,
.cls-2 {
  stroke-width: 10px;
}

.cls-2 {
  fill: #fff7e9;
}

.cls-3,
.cls-5 {
  stroke-width: 6px;
  fill: #fff;
}

.cls-4 {
  stroke-width: 5px;
}
